  <h1>Rayuela!</h1>
  
  <div id="game_area">
    <form id="players_name" method="post" action="/new_game">
      <h2> Insert the player's names</h2>
      Player 1: <input type="text" name="player1">
      Player 2: <input type="text" name="player2">
      <input type="submit" value="Start game">
    </form>
  </div>

  <br>
  <div id="message"></div>
